<div class="left-side-bar">
    <div ng-show="isShowTop" class="up-arrow" ng-click="toUp()"></div>
    <div id="bar">
        <div ng-repeat="item in sidebarData" class="tabbarItem" ng-class="{mActive:currentItem == item.name||item.name == selectedItemName}"
             ng-click="clickItem(item)">
            <img ng-src="{{item|normalOrPressed:item:selectedItemName:currentItem}}"/>

            <div class="des">
                {{item.title}}
            </div>
        </div>
    </div>
    <div ng-show="isShowBottom" class="down-arrow" ng-click="toDown()"></div>

</div>